* {
  font-family: Helvetica, sans-serif; }

body {
  background: #2f2f2f;
  color: white; }

.site-header {
  background: #1ca1fe;
  color: white; }
  .site-header a {
    color: white; }
  .site-header .greeting {
    line-height: 31px;
    margin-top: 9px;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.6px; }
  .site-header .logout-link {
    margin-top: 9px;
    width: 51px;
    height: 17px;
    line-height: 31px;
    font-size: 14px;
    letter-spacing: 0.4px;
    color: #ffffff;
    display: block; }

.brand {
  background: url("Images/gs-logo-new.svg") 50% 50% no-repeat;
  height: 31px;
  line-height: 31px;
  margin-top: 11px;
  margin-bottom: 8px;
  margin-right: 13px;
  width: 36px;
  display: block;
  background-size: cover; }

#map {
  height: 350px;
  position: relative;
  width: 100%; }

.maps-frame {
  height: 350px;
  width: 100%; }

.map-wrapper {
  position: relative; }

.btn-copy {
  height: 24px;
  width: 20px;
  padding: 16px 19px;
  display: block;
  background: url("Images/copy.svg") 50% 50% no-repeat;
  border-color: transparent; }
  .btn-copy:hover, .btn-copy:focus {
    border-radius: 0; }

.panel-share {
  position: absolute;
  right: 50%;
  bottom: 30px;
  background-color: #f3f3f3;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
  border: solid 0.5px #bbbbbb;
  border-radius: 4px;
  margin-right: -150px;
  width: 295px; }
  .panel-share .panel-heading {
    padding-bottom: 0; }
  .panel-share .panel-title {
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 0.6px;
    text-align: left;
    color: #5a5a5a; }
  .panel-share .panel-body {
    padding-top: 0;
    padding-bottom: 0; }
  .panel-share .form-control {
    border-radius: 0;
    padding-top: 3px;
    padding-bottom: 3px; }
  .panel-share .input-group {
    margin-bottom: 15px; }
  .panel-share label {
    font-size: 14px;
    letter-spacing: 0.4px;
    text-align: left;
    color: #5a5a5a;
    font-weight: normal; }
  .panel-share .panel-heading {
    border: none; }

.popover-content {
  color: #2f2f2f; }

.btn-primary {
  background: #1ca1fe;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 1.9px;
  text-align: center;
  color: #ffffff;
  white-space: normal;
  padding-left: 0;
  padding-right: 0; }

.cta {
  color: white;
  padding-top: 40px;
  padding-bottom: 20px; }
  .cta h1 {
    margin-top: 0; }
  .cta p {
    margin-bottom: 20px; }
  .cta .btn {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px; }

.add-email-form input {
  height: 48px;
  border: 0;
  margin-right: 10px;
  line-height: 48px;
  border-radius: 0; }

.btn-secondary {
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 0.4px;
  text-align: center;
  color: #ffffff;
  border-color: #ffffff;
  background: transparent;
  width: 100%; }
  .btn-secondary:hover, .btn-secondary:focus {
    background-color: #286090;
    border-color: #204d74;
    color: white; }

.icon-text-wrapper {
  position: relative;
  padding-left: 70px;
  min-height: 61px;
  margin-bottom: 15px; }
  .icon-text-wrapper .icon {
    position: absolute;
    top: 0;
    left: 0; }

.btn-purchase {
  width: 100%;
  text-align: center;
  font-size: 18px !important;
  font-weight: bold;
  letter-spacing: 1.8px; }

.android-icon {
  height: 61px;
  width: 61px;
  display: block;
  background: url("Images/android.png") 50% 50% no-repeat;
  background-size: contain; }

.app-store-icon {
  height: 61px;
  width: 61px;
  display: block;
  background: url("Images/app-store.png") 50% 50% no-repeat;
  background-size: contain; }

.panel-gifts {
  background: transparent;
  border-radius: 0 !important;
  border: none !important; }
  .panel-gifts .panel-heading {
    background: transparent;
    border-color: transparent;
    color: white;
    padding-left: 0;
    padding-right: 0;
    margin-top: 20px; }
  .panel-gifts .panel-title {
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.4px;
    text-align: left;
    color: #ffffff;
    position: relative; }
  .panel-gifts .panel-body {
    padding: 0;
    border: none !important; }
  .panel-gifts .table {
    margin: 0; }
    .panel-gifts .table td {
      border-color: #2f2f2f;
      border-width: 2px; }
    .panel-gifts .table tr {
      border-color: #2f2f2f;
      border-width: 2px; }
  .panel-gifts .table-striped > tbody > tr:nth-of-type(odd) {
    background: rgba(216, 216, 216, 0.2); }
  .panel-gifts .table-striped > tbody > tr:nth-of-type(even) {
    background: rgba(216, 216, 216, 0.5); }
  .panel-gifts table a {
    color: white; }
    .panel-gifts table a:hover, .panel-gifts table a:focus {
      text-decoration: underline; }
  .panel-gifts .table tr td:last-child {
    text-align: right;
    font-weight: 100; }

.site-footer {
  padding: 15px 0;
  background: #1ca1fe; }

.footer-links {
  margin-bottom: 0; }
  .footer-links li {
    vertical-align: top; }
    .footer-links li a, .footer-links li span {
      display: inline-block;
      color: white;
      margin-top: 15px; }
    .footer-links li a:hover, .footer-links li a:focus {
      text-decoration: underline; }

.copyright {
  text-align: center;
  width: 100%;
  display: inline-block;
  margin-top: 15px;
  margin-bottom: 15px; }

.plus, .minus {
  text-align: left;
  color: #ffffff; }

.plus::before {
  font-size: 14px;
  letter-spacing: 0.4px;
  position: absolute;
  right: 0;
  display: inline-block;
  content: 'Expand [+]';
  text-align: right; }

.minus::before {
  font-size: 14px;
  letter-spacing: 0.4px;
  position: absolute;
  right: 0;
  display: inline-block;
  content: 'Collapse [-]'; }

.img-wrapper img {
  width: 100%;
  heigh: auto; }

.panel-login {
  background: #1ca1fe; }
  .panel-login label {
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.5px;
    text-align: left; }
  .panel-login .form-control {
    background-color: #fafafa;
    border-radius: 0;
    border: solid 1px #979797;
    box-shadow: none;
    height: 44px; }
  .panel-login .btn {
    line-height: 61px;
    color: #1ca1fe;
    width: 100%;
    border-color: white;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 0.8px;
    border-radius: 8px; }

.login-logo .brand {
  display: inline-block;
  vertical-align: top;
  height: 47px;
  width: 55px;
  margin-right: 2px;
  margin-bottom: 10px; }
.login-logo .tagline {
  display: inline-block;
  vertical-align: top;
  margin-top: 14px; }
  .login-logo .tagline span:first-child {
    font-size: 24px;
    display: block;
    font-weight: 600;
    line-height: 16px; }
  .login-logo .tagline span:last-child {
    font-size: 17px;
    display: block;
    font-weight: 100; }

.success-message {
  padding: 50px 0; }
  .success-message p {
    font-size: 16px;
    letter-spacing: 0.5px;
    text-align: left;
    color: #ffffff; }
  .success-message .form-control {
    background-color: #fafafa;
    border-radius: 0;
    border: solid 1px #979797;
    box-shadow: none; }

.signup {
  padding: 50px 0; }
  .signup p {
    font-size: 16px;
    letter-spacing: 0.5px;
    text-align: left;
    color: #ffffff; }
  .signup .form-control {
    background-color: #fafafa;
    border-radius: 0;
    border: solid 1px #979797;
    box-shadow: none;
    height: 44px; }
  .signup .form-group {
    margin-bottom: 30px; }
  .signup .btn-primary {
    margin-bottom: 30px; }
  .signup .dropdown-toggle {
    text-align: left; }
    .signup .dropdown-toggle .caret {
      position: absolute;
      right: 12px;
      top: 20px; }
  .signup .dropdown-menu {
    border-radius: 0;
    margin-top: 0;
    width: 100%; }
  .signup select.form-control {
    -webkit-appearance: none;
    border-radius: 0; }
    .signup select.form-control::before {
      content: '';
      display: inline-block;
      width: 0;
      height: 0;
      margin-left: 2px;
      vertical-align: middle;
      border-top: 4px dashed;
      border-top: 4px solid\9;
      border-right: 4px solid transparent;
      border-left: 4px solid transparent; }

.notice {
  color: white;
  background-color: #ff9000;
  border-top: 2px solid #2f2f2f; }
  .notice p {
    margin: 10px 0;
    text-align: center; }
  .notice a {
    color: white;
    text-decoration: underline; }


.text-danger {
    background-color: #ff0000;
    color: #fff;
    padding: 5px;
    border-radius: 3px;
    margin-top: 10px;
    display: block;

}

.text-danger:empty {
    display: none;
}

.purchase-cta-title {
    font-size: 20px;
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
    font-weight: bold;


}

.purchase-steps {
  padding: 30px 0; }

.purchase-step {
  margin-bottom: 30px; }
  .purchase-step p {
    font-size: 16px;
    letter-spacing: 0.5px;
    text-align: left;
    color: #ffffff; }

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  .panel-share {
    right: 8.33333333%;
    margin-right: 15px; } }
/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  .copyright {
    text-align: right;
    width: 100%;
    display: inline-block;
    margin-top: 15px; }

  .login-logo {
    margin-top: 100px; }

  .success-message .inner {
    position: relative; }
    .success-message .inner::before {
      content: '';
      display: block;
      height: 100%;
      width: 300px;
      position: absolute;
      right: 50%;
      background: url("Images/android-screenshot.png") 50% 100% no-repeat;
      background-size: contain; }

  .signup .inner {
    position: relative; }
    .signup .inner::before {
      content: '';
      display: block;
      height: 100%;
      width: 300px;
      position: absolute;
      right: 50%;
      background: url("Images/iphone-screenshot.png") 50% 100% no-repeat;
      background-size: contain; } }

.gift-status {
    font-size: 20px;
}
/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  .login-logo {
    margin-top: 170px; } }
/* Large Devices, Wide Screens */

/*# sourceMappingURL=styles.css.map */
