@{

    Layout = "~/Views/Shared/_NoHeaderLayout.cshtml";
}

@if (!String.IsNullOrEmpty(ViewBag.NotificationMessage)){ 

<section class="notice">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <p>You have @ViewBag.GiftsUnclaimedCount Unclaimed Android Gifts</p>
            </div>
        </div>
    </div>
</section>
}

<section>
    <div class="container gift-android-container">

        
        <div class="row">
            <div class="clearfix">
                <div class="col-xs-12">
                    
                    <h2 class="gift-android-title">
                        Thank you for your purchase!
                    </h2>
                    
                   
                    <p class="gift-android-paragraph">
                        Android users will be able to use your Gift Code to claim their gift from you. You can share your Android Gift Code to multiple users in the following ways:
                    </p>

                       
                    
                </div>
                

            </div>
        </div>
        <div class="row">
            <div class="clearfix">
                <div class="col-xs-12">
                   
                        
                    
                    <a id="TextMessageButton" class="btn btn-secondary gift-android-btn-secondary" href="sms:?body=@ViewBag.TextBody">
                        Share Gift Code via Text
                    </a>
                   
                    <a id="EmailMessageButton" class="btn btn-secondary gift-android-btn-secondary" href="mailto:?body=@ViewBag.EmailBody">
                        Share Gift Code via Email
                    </a>
                    
                    <span class="input-group-btn">
                        <button class="btn btn-secondary gift-android-btn-secondary btn-cut-paste"
                               data-clipboard-target="#share-link"
                                    data-toggle="popover"
                                    data-placement="bottom"
                                    data-content="Copied!"
                                type="button">Copy and Paste Gift Code
                            <span class="sr-only">Copy to Clipboard</span>
                        </button>
                    </span>
                    <a href="/GiftAndroid/Purchase" class="btn btn-lg btn-primary gift-android-btn-primary">
                        Purchase More Android Gifts
                    </a>
                    
                    <input type="text"
                           style="opacity: 0;"
                           class="form-control"
                           id="share-link"
                           aria-describedby="basic-addon3"
                           value=@ViewBag.InviteCode>

                </div>
            </div>
        </div>


    </div>
</section>
<script language="javascript">
    $(document).ready(function() {
        var iOS = /iPad|iPhone|iPod/.test(navigator.userAgent) && !window.MSStream;
        var origHref = $("#TextMessageButton").attr('href');
        if (iOS) {
            
            $("#TextMessageButton").attr('href', origHref.split('?').join('&'));
            
        } else {
            
            

            var origEmailHref = $('#EmailMessageButton').attr('href');
            $("#EmailMessageButton").attr('href', origEmailHref.split('\\n').join('%0D%0A'));
        }

        // CLIPBOARD
        var clipboard = new Clipboard('.btn-cut-paste');
        
        clipboard.on('success', function (e) {
            e.clearSelection();
        });

        $(function () {
            $('[data-toggle="popover"]').popover();
        });

        $('.input-group-btn').mouseout(function () {
            $(this).find(".popover").remove();
        });

    });
</script>

