@{

    Layout = "~/Views/Shared/_PlainLayout.cshtml";
}


<section class="notice">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <p>You have successfully purchased 2 gifts</p>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container gift-android-container">

        
        <div class="row">
            <div class="clearfix">
                <div class="col-xs-12">
                    <h2 class="gift-android-title">
                        You have purchased 2 GodSpeak gifts for Android that remain unclaimed.
                    </h2>
                    <p class="gift-android-paragraph">After dowloading GodSpeak from the PlayStore your friends can use this Gift Code to use GodSpeak:</p>
                    <h1 class="gift-android-invite-code">iM0J9z8r <img width="34" src="/Content/Images/copy-invite-code-icon.png"/></h1>
                </div>
                

            </div>
        </div>
        <div class="row">
            <div class="clearfix">
                <div class="col-xs-12">
                    <a href="/SignUp/@ViewBag.InviteCode" class="btn btn-lg btn-primary gift-android-btn-primary">
                        Purchase More Android Gifts
                    </a>
                    
                    
                    <a class="btn btn-secondary gift-android-btn-secondary">
                        Share Gift Code via Email
                    </a>
                    
                </div>
            </div>
        </div>


    </div>
</section>

<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="hidden-xs col-sm-6 col-md-offset-1 col-md-5">
                <ul class="list-inline footer-links">
                    <li>
                        <div class="brand"></div>
                    </li>
                    <li><a href="#">About</a></li>
                    <li>
                        <span>|</span>
                    </li>
                    <li><a href="#">Blog</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-5 text-right">
                <p class="copyright">© GodSpeak 2017 All Rights Reserved</p>
            </div>
        </div>
    </div>
</footer>

