
@{
    ViewBag.Title = "FromAndroid";
    Layout = "~/Views/Shared/_NoHeaderLayout.cshtml";
}

<div class="row">
    <div class="purchase-step clearfix">
        <div class="col-xs-12 clearfix" style="text-align: center;" >

            <h2 style="padding: 20px; text-align: center;">Due to restrictions from Apple, Android users cannot gift to iPhone users from their Android phone or tablet.</h2>

            <p style="padding: 20px; text-align: center;">However, you can still give the gift of GodSpeak from iTunes for desktop.</p>
        
            <a href="/GiftiTunes/Desktop" class="btn btn-lg btn-primary" style="text-align: center; width: 100%; max-width: 324px;">Learn How</a>
        </div>
        
        
    </div>
</div>